
hl
{ color: #FF0000; font-family: Times New roman; font-size: 20pt; font-style: italic; text-align: center}
h3
{ color: #000040; font-family: Times New roman; font-size: 16pt; font-style: italic; text-align: center}
h4
p
{ color: #000040; font-family: font-family: "Arial", Times New roman; font-size: 12pt; font-style: italic; text-align: center}
{ color: #000000; font-family: font-family: "Arial", sans-serif; font-size: 10pt; text-align: left } table {border-collapse: collapse;
td
border: 0px solid #000000;
background-color: #3FF;}
{ border: 0px solid #000000; padding: 0.1em; spacing 0.1em }